html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #42B5B3;
}

.icon {
	float: left;
	margin-left: 5%;
}

.name {
	font-size: 2.5vh;
	text-align: center;
	padding-top: 65px;
	border-left: 20px solid #1E5352;
	border-right: 20px solid #1E5352;
	background-color: #DCF1F1;
	padding-bottom: 75px;
}

h1, h2 {
	font-family: "Calibri", sans-serif;
}

.dot {
	border-radius: 50%;
	margin-left: 9%;
	width: 80%;
	height: 50%;
	margin-top: 10%;
	transition-duration: 0.4s;
	background-color: #DCF1F1;
	border: 20px double #1E5352;
}

.dot:hover {
	background-color: #97D6D5;
}

.texts {
	padding-top: 30%;
	font-size: 7vh;
}

h1 {
	font-size: 3vh;
	text-align: center;
}

h2.texttwos {
	font-size: 3vh;
	text-align: center;
}

h2.texttwo {
	font-size: 2vh;
	text-align: center;
}

.data {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	background-color: #DCF1F1;
	border: 20px double #1E5352;
	transition-duration: 0.4s;
}

.data:hover {
	background-color: #64C2C0;
}
