html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(#CAF7E2, #58B09C)
}

.select {
	text-align: center;
	font-family: "Calibri", sans-serif;
	color: #89A894;
	margin: 0;
	padding-top: 15%;
	font-size: 200%;
}

#patientbutton {
	text-align: center;
	border-radius: 10%;
	float: left;
	padding: 0;
	margin-left: 10%;
	margin-top: 5%;
	width: 35%;
	height: 35%;
	background-color: grey;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#caretakerbutton {
	text-align: center;
	border-radius: 10%;
	float: left;
	padding: 0;
	margin-left: 10%;
	margin-top: 5%;
	width: 35%;
	height: 35%;
	background-color: grey;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#patientbutton:hover {
	background-color: #89A894;
	color: #CAF7E2;
}
#caretakerbutton:hover {
	background-color: #89A894;
	color: #CAF7E2;
}
.you {
	font-family: "Calibri", sans-serif;
	margin: 0;
	font-size: 200%;
}
