html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #67B7A5;
}

.select {
	text-align: center;
	font-family: 'Calibri', sans-serif;
	color: black;
	margin: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	font-size: 3vh;
	border-left: 20px solid #1E5352;
	border-right: 20px solid #1E5352;
	background-color: #DCF1F1;
}

#patientbutton {
	text-align: center;
	border-radius: 10%;
	padding: 0;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 70%;
	height: 30%;
	background-color: #DCF1F1;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 20px solid #285047;
}

#caretakerbutton {
	text-align: center;
	border-radius: 10%;
	float: bottom;
	padding: 0;
	margin-left: 15%;
	margin-top: 15%;
	margin-bottom: 15%;
	width: 70%;
	height: 30%;
	background-color: #DCF1F1;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 20px solid #285047;
}
#patientbutton:hover {
	background-color: #89A894;
	color: #CAF7E2;
}
#caretakerbutton:hover {
	background-color: #89A894;
	color: #CAF7E2;
}

#you {
	font-family: "Calibri", sans-serif;
	font-size: 200%;
}
